.rating-input-stars {
  display: flex;
  user-select: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
  align-items: center;
  justify-content: flex-end; 
}
.input-star-container {
  position: relative;
  width: 20%;
  display: inline-block;
  height: 100%;
}
.input-star {
  font-size: 30px;
  color: lightgray;
  line-height: 1; 
 position: absolute;
  left: 0;
  top: 0;
}
.input-star.filled {
  color: gold;
    z-index: 1;
}
.input-star.half {
  clip-path: inset(0 50% 0 0);
    z-index: 2;
}


.rating-display-stars {
  display: flex;
  align-items: center;
  font-size: 18px; 
  line-height: 1;
}
.display-star-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  overflow: hidden; /* 핵심 */
}
.display-star {
  position: absolute;
  top: 0;
  left: 0;
  color: lightgray;
}
.display-star.filled {
  color: gold;
  overflow: hidden;
  white-space: nowrap;

   position: absolute;
    top: 0;
  left: 0;
  width: 0%; /* ← JS에서 동적으로 0%, 50%, 100% 설정 */

}

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.pagination button {
  border: none;
  background-color: #f0f0f0;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover:not(:disabled) {
  background-color: #ddd;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}